<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Learning HTML/JS</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    </head>
    <body>
        <h1>Learning HTML/JS</h1>

        <p>In this course we will learn HTML and JavaScript.</p>

        <div>
            <input type="text" id="name" className="formValues" placeholder="Enter your name">
            <input type="text" id="surnname" className="formValues" placeholder="Enter your surname">
            <input type="text" id="age" className="formValues" placeholder="Enter your age">
        </div> 
        <div>
            <button id="btn" style="border-color: blue; border-radius: 10%;">Click Me!</button>
        </div>
        <div>
            <div id="output"></div>
        </div>

        <script src='index.js'></script>
    </body>
</html>